<h1><b><%= @business.name %></b></h1>
</br>
<span><%= @business.address1 %></span>
<span><%= "#{@business.city}, #{@business.state} #{@business.zipcode}" %></span>
<span><%= pluralize(@business.experiences.count, "experience") %></span>